Source: grub2-theme-nitrux
Section: main
Priority: optional
Maintainer: Uri Herrera <uri_herrera@nxos.org>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6

Package: grub2-theme-nitrux
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, grub-common
Description: GRand Unified Bootloader, version 2 (Nitrux theme)
 This is the default theme for GRUB's graphical menu.
